/* .wy-nav-content{
    background: #282c34;
}
 */

/* .wy-grid-for-nav{
    background: blue;
}
 */

/* .wy-nav-content-wrap{
    background: #999999;
}

.wy-nav-side{
    background: #999999;
}

.wy-menu-vertical a:hover{
    color: #d9d9d9;
    background: #222222;
    cursor: pointer;
}

.wy-menu-vertical a {
    color: #353130;
}

.admonition p{
    color: #282c34;
}
 */

/* .highlight{
    background: #c9c9c9;
    color: #404040;
}

.rst-content code.literal, .rst-content tt.literal {
    background: #c9c9c9;
    color: #404040;
}

.wy-menu-vertical p.caption{
    color: #e9e9e9;
}
 */

/* .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td{
    background-color: #52565c;
}
 */

/* .wraptext {
  inline-size: min-content;
  overflow-wrap: break-word;
} */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

/* 
#site-navigation,  
body, 
.topbar,
.bd-toc nav,
.topbar-main{
    background: #282c34;
}

.topbar .topbar-main button.topbarbtn{

    background-color:#282c34;
    color: #d9d9d9;
}
.bd-toc div.onthispage, 
.bd-toc .toc-entry a, 
#navbar-toggler {
    color: #d9d9d9;
}


.tocsection,
.section-nav{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.bd-sidebar{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.admonition p{
    color: #343a40;
}

.table{
    color: #d9d9d9;
}

.admonition{
    background: white;
}

.rst-content .line-block,
.rst-content table.docutils caption,
.wy-breadcrumbs li,
.toctree-l1,
.toctree-l2,
body li,
footer, 
p,
h3,
h2, 
h1,
body{
    color: #d9d9d9;
}

main.bd-content #main-content h5,
main.bd-content #main-content h4,
main.bd-content #main-content h3,
main.bd-content #main-content h2, 
main.bd-content #main-content h1,
#site-navigation h1.site-logo,
#site-navigation nav ul.nav li a,
#site-navigation nav ul.nav ul li a,
body{
    color: #d9d9d9;
}

.toc-entry > .nav-link.active{
    color: #007bff;
    border-left: 2px solid #007bff;
}

:root{
    --pst-color-sidebar-caption: 217, 217, 217;
}

 */
